body {
  font-family: "Source Sans Pro";
  font-size: 12px;
  text-align: center;
}

.ims-display {
  display: flex;
  min-height: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.text-home-summary{
  color: #778287;
  font-family: "Source Sans Pro SemiBold";
  font-size: 12px;
}

.text-home-individual-summary {
  color: #778287;
  font-family: "Source Sans Pro";
  font-size: 14px;
  letter-spacing: 0.32px;
  line-height: 15px;
}

.text-home-summary-value {
  color: #000000;
  font-family: "Source Sans Pro";
  font-size: 28px;
  font-weight: 600;
  letter-spacing: 0.75px;
  line-height: 36px;
}